In [1]:
from googleapiclient.discovery import build
import psycopg2
import pandas as pd
import streamlit as st

In [2]:
def api_connect():
    api_id = "AIzaSyA5VOrgRQfLImCJUxNfHI_WYkBrJIBHYWI"
    api_service_name = "youtube"
    api_version = "v3"
    youtube = build(api_service_name, api_version, developerKey=api_id)
    return youtube
youtube=api_connect()

In [3]:
#get channel infrmation
def get_channel_info(channel_id):
    request=youtube.channels().list(
                part="snippet,ContentDetails,statistics",
                id=channel_id
    )
    response=request.execute()

    for i in response['items']:
        data={
            "Channel_Name":i["snippet"]['title'],
            "Channel_Id":i["id"],
            "Channel_subscriber":i["statistics"]["subscriberCount"],
            "Total_views":i["statistics"]["viewCount"],
            "Total_videos":i["statistics"]["videoCount"],
            "Channel_description":i["snippet"]["description"],
            "playlist_id":i["contentDetails"]["relatedPlaylists"]["uploads"]
    
        }
    return data

In [4]:
channeldetail=get_channel_info("UC5cY198GU1MQMIPJgMkCJ_Q")

In [105]:
channeldetail
#"UC5cY198GU1MQMIPJgMkCJ_Q"

{'Channel_Name': 'Mr. GK',
 'Channel_Id': 'UC5cY198GU1MQMIPJgMkCJ_Q',
 'Channel_subscriber': '1500000',
 'Total_views': '235901580',
 'Total_videos': '598',
 'Channel_description': 'Please contact me at mrgktamil@gmail.com\n\nFollow us on my social media:\nWhatsApp: https://whatsapp.com/channel/0029VaA23u5IHphLuhO3LM01\nYoutube: https://www.youtube.com/MrGKTamil\nFacebook: https://www.facebook.com/MrGKTamil\nTwitter: https://twitter.com/Mr_GK_Tamil\nInstagram: http://instagram.com/Mr_Gk_Tamil\nTelegram: https://t.me/MrGkGroup\n',
 'playlist_id': 'UU5cY198GU1MQMIPJgMkCJ_Q'}

In [5]:
#get video ids
def get_video_Ids(channel_id):
    video_ids=[]
    response=youtube.channels().list(
                    part="ContentDetails",
                    id=channel_id
    ).execute()
    playlist_Id=response["items"][0]["contentDetails"]["relatedPlaylists"]["uploads"]

    next_page_token=None
    while True:
        response1=youtube.playlistItems().list(
                        part="snippet",
                        playlistId=playlist_Id,
                        maxResults=50,
                        pageToken=next_page_token

        ).execute()
        for i in range(len(response1['items'])):
            video_ids.append(response1["items"][i]["snippet"]["resourceId"]["videoId"])
        next_page_token=response1.get("nextPageToken")

        if next_page_token is None:
            break
    return video_ids

In [61]:
video_IDS=get_video_Ids("UC5cY198GU1MQMIPJgMkCJ_Q")

In [53]:
video_IDS

['-mowKEbEVL4',
 'xT7X-tI2cwI',
 'vN3mo7eu4mY',
 '4TSBYJuSzQo',
 'udsaCvOpFYU',
 'e_m1rsw4rd8',
 '09hvHQ7HgY0',
 'oF2n8771OpY',
 'tAQSJrLt4y8',
 '5x9zwZ0UJ9k',
 'DMELJ48N37k',
 'hWcRYfhWHLA',
 'AoAeUs7LWHE',
 'lbhhnX4E0hg',
 'pXsNL9Vm5Tw',
 'dwaDcC8NJqk',
 'fN7frcxsxz8',
 '310f3E7K2iM',
 'ddFMaDfQRig',
 'RnrxAVkJv6c',
 'nTp7lp9t2tc',
 'wm4C4fahT0w',
 'uRZTrt8N0eQ',
 'lbDF8QZPqAk',
 'kBy1aEzHZN4',
 'Ycl5YWdDmaA',
 'vgHLjRTnIB4',
 '58MPrz568tA',
 'oWinVp_MVyk',
 '2ge9PnfYYOQ',
 'gJLe6dD-Krw',
 'l1A6rNZSE1s',
 'yxv81bTB7NU',
 'st6qcNW2FW4',
 'z9uDqvsUaGE',
 '_AW_N_vdzco',
 '9jPpfF7gxfM',
 'OxYaI54cVLQ',
 'mioRviTPs_U',
 'Fv8x3A7nEv0',
 'J0jWyiMjA1g',
 '4wJpI4eagq8',
 '5kmT97yPNBE',
 'FDJUZFCmLEg',
 'PMmc7NNuntw',
 'XY6MmxLju-w',
 'dAtpUJT35lY',
 'Ev1Tj5AiBKc',
 'ixZ6dsd_Lhk',
 'y87b0zHX4BI',
 'Yvlk9j0hGW0',
 'ce1H3aOwaRE',
 'optO55DLiAQ',
 '1Sqa4EQXnpI',
 'lYrnG_mq91Q',
 'eUNDOgBiUds',
 'g45bSUKGrDs',
 'POZbhy4pHYw',
 'ykmtWaujS9I',
 'PHB5d3XOIsw',
 'a4-0QhmECTQ',
 'WJ7LwWfnJ10',
 'itJY8xKcncc',
 'yZirLWJMf7E',
 'PbZAeAMAXo4',
 'pEE9tks-xPw',
 'LSSFDF-0k9s',
 '6TdE8bfBkes',
 '4wJ0TzuOE_c',
 'nBY0Mv9faNE',
 'xgXgtePWX7M',
 'NnslNp04_YU',
 'EZT82fPTb0E',
 'wdZbSihSDy0',
 'RL7mOwNj3KM',
 '8nc2I7w7Qj8',
 'ARSl2jfqQww',
 'q1C6CTBmayo',
 'BI5Ay03J8XY',
 'xoqe9iImgVs',
 'vrMFEz1Xa74',
 'anJHnIZ66to',
 'gQ4YiRH6pHo',
 'En5VEYnuCJs',
 'j7NqwXafTeU',
 'WEiHNQOV_BQ',
 'Dh2E5Z34UrI',
 'mKx-rqU5Q9A',
 'xsXbWYuZuYY',
 'EeUuugdycFk',
 'woVlVeHCaZ0',
 's1g1gZW6smk',
 '-osrbQTmp0g',
 'v5u67UB0qkw',
 'Oyvyr1xfWGo',
 'uyhbvrDpXqg',
 'gK1fJYbUYpY',
 '1UWBvcg3aeg',
 'WcsRO3xkOE0',
 'axkMySv29j8',
 'EnNDeV8ZTqQ',
 'Yz-uD-kP7og',
 'ewGh3gzt0zI',
 'NWFA-km1rJY',
 'soj3Z0WPoA0',
 'YVN_MfiP0Bc',
 'KQYSiSo7q-4',
 'gzf_5ReWwNs',
 'v6MhhxmAPKU',
 'V1444BVE71o',
 'yTlFCdG2eAc',
 'i5T2ARz05oA',
 'JtS4sZYiBCI',
 '0WWIEXcijwY',
 'EVxiuXV_OxM',
 'UVLXcaRx0lU',
 'cfKWEHk1oWc',
 '9Haiiar8x0g',
 'oUL3Pb3ImbQ',
 'hnsmfdNSPv0',
 '4cuQuKoKKNo',
 'a1kVpra4_Z4',
 'rf6JCKZCaXo',
 'QuZ-tyY877Y',
 'e4t2WAhGr08',
 'jRDDvpkKQAk',
 'hua0FANT_-E',
 'OAJbMwp0ruU',
 'K1WVzZmDEoo',
 'UnqoTiWXUBo',
 'PuL_CP_Vr5s',
 'DHMv_7WNSl4',
 'Dp1hC-p_do0',
 '2jXqIfic1U8',
 'lhiI5slH81U',
 'OrqdeC6_OnA',
 '9ROJBtbni_g',
 'r9xv8ZsCpT4',
 'c3peKw--wmE',
 'ooV9WAxtTU0',
 'QKmnSh0XE1o',
 'Lsbexi-6KRw',
 'hP38eGcmX6c',
 'IND1IkA-M-o',
 'LMuAa43tD2w',
 'LGEVX7UBZfI',
 '1fHl6m54w9Q',
 'UI3HKcPda9g',
 'sS5mbtg87JM',
 'PmGQ1n-9Pqs',
 'i6JREnRGAKA',
 'OS8tc7UqoH8',
 'lpaR7sKCAdA',
 'gz-RIZXvFNE',
 'Vm6MoiKL_FA',
 '3Sxl3YUMOAs',
 'DL_vHEiG6UA',
 'Ar3gbUp0mZY',
 'w9igFZ3EXxU',
 'av1l4ilAmn4',
 'eo21a38SJY8',
 'aEZNo7DgKjs',
 'F1H7rOV--Ig',
 'Y7CRGOTfTpQ',
 'E09EALx1E98',
 'RXRQWWYfoH4',
 'P6by2MQCVGo',
 '-_0cDXrzFFU',
 'Xsv701Y3WrA',
 'AEmxj3IB4gc',
 'xSxeW3q8jPU',
 '7UZrdyenkzw',
 'TfsyzFKHAF4',
 'ZGkXZ5RKB38',
 'ynQWJYs_P6M',
 'pfrz0aIdpVk',
 'cv4IESR6RIY',
 'wjXDFz4fSXs',
 'UJ7GV9laatI',
 'jxkxW3gazUY',
 'hEcJBZ7Bbtw',
 'mf2JaqjWcuU',
 'EnYhN_d2zgU',
 'Faa_ti10n1o',
 'HbKO4RiON3g',
 '0gn8Uht_I9s',
 'my_77tHgFj8',
 'pM5MUCBBopo',
 'eHVCRepERlA',
 'sEiqA63acSU',
 'vCHAXXcD7Vk',
 '-y2PCb3kTg4',
 'Qelj5G-PHE0',
 'gml0mQEhFv8',
 'ydGLqqgAcYo',
 'QYTko-gZ_d8',
 'IGe7Ma7uBOE',
 'Fk4sVR1jbT4',
 'l1kcU7xrooM',
 'ImHakmL25Oo',
 't6TtAw91c3Q',
 'J1y2faphuNc',
 'qKAhkbUnXC8',
 'ykD5wvngnlw',
 '3WCDd-oRkDU',
 '9F4ngDMx0KE',
 'ucF0fKNMIWo',
 'GdANVP3nZ44',
 'Y1214zndIYc',
 '8EubWDMLh5E',
 'wOe6UleLldw',
 '0T6nDXhjdIg',
 'R0MqUZXK0YY',
 '6bFEo12lDUI',
 'nwww5AGlcm8',
 'cSBODBnklE8',
 'tkkW8Fim_-E',
 'O6esI4tVFgA',
 'QbtiSF3I3vE',
 'Zs96fOzaesE',
 'fXRGKtBQc8o',
 'frhgd3bKxC4',
 'OYfnL1An0Es',
 'yuLU15seGtM',
 '2GWU-j--xjs',
 'l5EUm8VvHiQ',
 'r77bNXgrsVM',
 '70Wzz-DGs_k',
 'LkUkkILzQHo',
 'uccTdEQmCmw',
 'mJDIkRALYlQ',
 'km0h5HggVvc',
 'SRDWFqsr_PY',
 'Jo3PErElJ6k',
 'GeXuyIIr_6c',
 '4DSFTtFXo0c',
 'U2tev_CSR3A',
 'QqqsExmJfhw',
 'tkVH7_S3CvY',
 'jlke3WEoMB8',
 'aGJap845iAc',
 'vJEoU14Y4M0',
 'v4BzvyDT4bA',
 'AZhoKgMf_og',
 'ThvCWBplDbM',
 'iJy5-fRJtFM',
 'IdLoBjXChtk',
 'TXcO9Yt_f-I',
 'RYltu_N-6A8',
 '8_F3s_tSzBM',
 'VEQNvVdf7e4',
 'HhYYdVX8EZw',
 'TPlol6PqJ2Q',
 'DrC4Nje1yTI',
 'dmjXz50XEgc',
 '6K0rScPDeDk',
 'c0bZDiTpJiE',
 'B8LycujzUwk',
 'Z-K3nxHHgdE',
 'wXGGnAha2K8',
 'q1D4gg4DZEw',
 'cd9HeGmpz9Y',
 'pCcUjdb3heA',
 'kCMjVEDzCwk',
 'AsFDxy19ybA',
 'v6_V66QdSCA',
 '_QdkcS0v36k',
 'B6cOg78047w',
 '0qdEBeqqTVE',
 'JoPFFz1lFWM',
 '5FFNBLr0NYI',
 'dl5zhPaPjj8',
 'AJDAd__kJsI',
 'dAJd_n23EuI',
 'C7nowyxWbTM',
 'r4k2szmiLAE',
 'R-lKljug9vM',
 'Ak8UZQZR6QE',
 'ctv_VPdu8AI',
 '76q4eDs3eRo',
 'FNhvfIeDOio',
 'ieiBvTzD1bY',
 'GPWuzhi6SlE',
 'uSlu_wZAOz4',
 'Oj1U6ed8xDQ',
 'SvpFIapoq-k',
 'sS5jb5k0fu0',
 'LxxMUbp9Tp0',
 'he2Ep8WO9R0',
 'cZ5T3dv6Zgw',
 'gtPiO0xxtfI',
 'y_soTrzTMTk',
 'it3p6oBLhVE',
 'Z7WF0xHhe4o',
 'peSFR3A_zU8',
 'wEVs2dl1Bs8',
 'zbu6p5EROs4',
 'O6eDW1NRm2Q',
 'IvDlwDzbSPk',
 'r9btw1Nn5yY',
 '88wqChGF5SU',
 'Bt6UDH7Gtho',
 'Be83FPugCZ8',
 '68btgsNJ9fM',
 'hilD8X_RA8Q',
 '32uvRGOvUvc',
 'Eu19oRQeGM0',
 '9pXDdiC_FJ0',
 'PQXShsdeNF8',
 '3DKMFH00zyc',
 'SOnyg-ac-dM',
 '6xfc3ybbx1Y',
 'BjRcSbwe9xI',
 '2kp8_bn2sn8',
 'ilAITLjRUJ0',
 'puVOCOkUXB0',
 'rvM55dO23qc',
 'sFmfAiZqWkM',
 'qeDj6B3Jjfk',
 'FkwhpbWPQbY',
 'S2XFzSCY01o',
 'vINgnw8hwXo',
 'OPiljcYFx0o',
 '0cum_ZUmdug',
 'kcxaHL7bFo4',
 't9sjtrKqcCY',
 'b76_hZi-TkA',
 'lKEMZCC7aQI',
 '4OKejU30vRo',
 '6IzbaaB_a50',
 'FWaECcflIrM',
 '_23-ZCGXeBc',
 'C3QGSjdQqTs',
 'UlCb1uhtNzs',
 'ntWBF-ojmhk',
 'ln9QHMgZMaM',
 'uSQ66RehOI4',
 'pYxQVNHFej0',
 'Zjk5yvBw1-M',
 'JEzomm_gTSw',
 'OGpYJpzgaG8',
 '4xbPgGcTHyw',
 'jXTT31rUqcM',
 'TjFefjz2kHk',
 'PH54RrD-4OA',
 'yOaWdxscO7g',
 '0KnbPmqkbrI',
 'UVvVVfGoH18',
 'YMjTAjhMR-k',
 'xeH5pRpd4DA',
 'GFEJWdoaBhM',
 'njm_YJyj5Tg',
 'Ym8WEiBo1VI',
 'Cf4yGGhndZI',
 '4-LlZ93IkkI',
 'ehjYIj8CuQU',
 'mIl0eoUK6X8',
 '4_j1A8nz7RQ',
 'JYi2_4rwXpw',
 'fRBaDXGwBco',
 '4ZcG1mFpu5k',
 'A-5W5UhIOHQ',
 'xbHQ2Wd8SCU',
 'jPeduPjByfk',
 'vQsMIJDQdIw',
 '92Z9az6u3Dw',
 'P-kvLQDO82s',
 'IQy7LFqb3UA',
 'bWQJGa8y33A',
 'P-2fOxuE0VE',
 'Mluw4kEZPUE',
 'LSdpp8QR1qk',
 'LbYW6MDnuQY',
 'TXEcIzVv7v8',
 'xGGiKVoKWVo',
 'yGBrHpF28go',
 'kIH3RfkXYI4',
 'EmU18Q79lPs',
 'iPakHtvn07o',
 'OKJkTx9Z-6w',
 'nzwpGVg2D5Q',
 'tkT7MHpdBo0',
 'lON_z-Uhp-o',
 '9VroBCfFSxI',
 'fIqWQUTsmeY',
 '9-FCy3OJpzM',
 '4GXGBc5mxCk',
 'rk5xy0zbXaI',
 'ExgZaLz1Q3I',
 '_7uorqQmvV0',
 '6IMPBbDYlaQ',
 'NeHPTpf3xqQ',
 'ckgv6Iaufuc',
 'Mr1SA1Obcy8',
 '6uNQdrxl4vA',
 'pHhemIT3Wzo',
 'NmrA9sDN7Lw',
 'Mm2C9f42_es',
 'MDYgLQliD_4',
 'pSLddCa3WYw',
 'FTczMnkj5Mk',
 'bL09SBjs8DU',
 'iAoECgigEp8',
 'pS_hgi0ih04',
 'SJlbqD84ydY',
 'TtovN1SAYgA',
 'vDnrmK7ybZk',
 'rtt8gao_S6M',
 '1Mga6uAg8F4',
 '6oFiZ4k8GOg',
 'gD8dWhET7IM',
 'WCir-6ZhGQw',
 'd0-V3U-OWyg',
 'DX2lJW6DhXQ',
 'QVy_SgMwpZc',
 'YlmIljcKoRk',
 'zxcOHUfvzSs',
 'FnvOtCI4R4A',
 'gcbye_9bxrw',
 'wJZCKjmZVxM',
 'E2bpkEXuOJ0',
 '7OZ8m_NBQR4',
 'Wi-DYwY6Bg0',
 'FNfkm4gyqqE',
 'f98UnomrXqw',
 'wKuvfrEKtvA',
 'qfQ_ebkK06k',
 'kJ_EZYyR4GE',
 'd7HG0mksUGk',
 'ShRtRvtxXQo',
 'V2PjDBzyxqg',
 '5rOCgRkEsyQ',
 '8L_-B1hHl0A',
 'DQOux8X0ERQ',
 'k_0krL10uS0',
 'cipoF7BhipI',
 'n06bFk4_9Us',
 'VGQdVN5z5Ac',
 'PlA3w3d7Q-g',
 'm7YU4xZiwDg',
 'su4-s4yASjI',
 'StBRkOXYmqs',
 'knmqSmulIQM',
 'FbIibPTZMM4',
 'EvpD3T80vo8',
 'xlzALf674mk',
 'MJ5Fj6mVDjA',
 'sosTXcHYtWc',
 '-Stk-Ha-n7c',
 'eatWxAzQ7uE',
 '9hCGAKfolqg',
 'B0emxcB205Y',
 '0gSj2DyAOjE',
 '4Ow1hbXLqSQ',
 'Rg_RwHq6_iw',
 'LlzhRvSAIMc',
 'Isp8YQ5_tG4',
 'Z5wqSIMVT2U',
 'ZSaTnAjWdvs',
 'arXlsOsSgmk',
 'bg1_QsdRcvM',
 'aA0ENf5X7l8',
 'X0024YnObUs',
 'N97653MBlmM',
 'S9fNbxiLG2s',
 'qWPEGajVSCA',
 '5s3pKdgYf5I',
 'ZunhAUxjTXQ',
 'AndT768Qx00',
 'hopK5-ND3Q4',
 'nl26EdU2Mj0',
 '7s26aOtcJwM',
 'Whf3p5zOU-c',
 'CPkjZYflq90',
 'jc7MqhxK7BY',
 '91aYWK0dEg4',
 'X-ijZcbC_RE',
 'FBhqDhOxb-0',
 'RfVhTJ61-d0',
 '-QTQmR7uA_4',
 'og8d9jJJvrU',
 '4-6zBotsi-s',
 '2y94W6oacRM',
 'WfCOXC-F8Eo',
 'L1UVwf8KlH4',
 'PNwW2w2rhO4',
 'THtT4bJJueg',
 'TOw5benzokE',
 'dYUiZKteQHU',
 'lyIHDehf5LE',
 'kphFoHoqxqg',
 '4znVu0JDjkE',
 'T-tVhNfNlE4',
 'eQSNznbOEhE',
 'Zxpigk36uqs',
 '4kKn0TDpF_o',
 '0TS6bZXuv8A',
 'qOKbSF6_ETQ',
 'KVji1ms5u7E',
 '3G-1o4_v7JI',
 'nNoWZQmec50',
 '0_AXUyU6CCc',
 '0FRJ_Oxx2jY',
 'lAMr2-BZLk4',
 '_3TSRdrCIu8',
 'XTVNsqDuCRQ',
 'UlJjPEAbUt4',
 'jKZ_3LUHzF4',
 'F296wKKrGdw',
 'wsRmWkCFeGU',
 'WzV4FBeHxm8',
 'aDOtL62N5c4',
 'ND1NkHMLL40',
 'zWOR52DOdPI',
 'dZQuWBMKq4U',
 'orDwSn2eWVU',
 'xfeK_KoYVc8',
 '0bSmyaBRQgY',
 'BqW52_wnNdQ',
 'azWOvdLIpOs',
 '6iLYJYgEXJg',
 'asFr4PvIOSo',
 'x92uBHL1l34',
 'RJ-A3x74K7E',
 'a6h8oyEIESc',
 'sdRt8KREW5c',
 'oAvZkReSpNQ',
 'eOaJ7v1CGVc',
 '0d0SsgmwZsc',
 'LxYPE8qLiGo',
 'COu0YEyrmv8',
 'oXcZXEdycuM',
 'GJWbC1U8-7c',
 'I4Hi760tYl0',
 'dpWCFZoyjcg',
 'GROHKep4vNE',
 'wWgmVqRRtpE',
 'oBfeKjYQTu4',
 '__LMopRry6w',
 'A6E33cWPJy0',
 'nWB_NQWTUIc',
 '3FoEs4T4NtA',
 'IGHEa3TCfgU',
 'b-vEgomWzl8',
 '_KhINLMk7Tk',
 '7c0TLZTA9LA',
 'eE1GQxnX80k',
 'zIzEVrNiHBs',
 '1mL_8tNXU4I',
 'yFuLFhJxp28',
 'fSaREGRiFIw',
 'pW37jJcy-N8',
 'tsLBmrs_lj8',
 'aCwWi8NKBpM',
 'M4jTS4l61fI',
 'bQKIir3Njhs',
 'KhxP-Tydg6A',
 'swkauxcT72U',
 'DWtxBQbka4g',
 '7itPvfuaT6A',
 'hRZirXr_J9Q',
 'ZDam09HoBl8',
 'IZK6cnJ8Lts',
 '1whnbD2re1E',
 'QHppz7heeD4',
 'vIhRedn3EWw',
 'vMYKUB9a8Sk',
 'tA4ATmIqo_k',
 '6IWAkmXa5RU',
 'ABonH40YFPc',
 '5RxgMz0b_84',
 '8Pam1a8tFhY',
 'lyCy0NEeuNE',
 '8kCtUDckGZ8',
 '40D5QQfw628',
 'QI30smnGzy8',
 'utT9LFUteF8',
 '-FYFYXTPvXU',
 'bfDH_wfna3w',
 'Fdl7jsW1ahU',
 'IjKcmx9crMA',
 'tgR8i9d9XNY',
 'PefYPTbuuSg',
 'eDA7fM0ePyI',
 '9TpLFzihviw',
 'keICo6GJ0yM',
 '1ImH0tqGuXQ',
 'Kzwdqf2HIeg',
 'pGLNVyuRgwI',
 'DCkanQG6Iek',
 'R2mKVD-LC94',
 'Ap_HTQ4h7GU',
 'Wmi9XJD59Us',
 'EbfW4V6fUh0',
 'sAubE9aVbGY',
 'ZC1OupAs0zo',
 'DcRCQ0Z90lA',
 'iid_tOLz3vA']

In [6]:
def get_video_info(video_ids):
    video_data=[]
    for video_id in video_ids:
        request = youtube.videos().list(
                            part="snippet,contentDetails,statistics",
                            id=video_id
            )
        response2=request.execute()
        for i in response2['items']:
            data={
                "channelname":i["snippet"]["channelTitle"],
                "channelID":i["snippet"]["channelId"],
                "videoID":i['id'],
                "Title":i["snippet"]["title"],
                "Thumbnails":i["snippet"]["thumbnails"]["default"]["url"],
                "Tags":i.get("tags"),
                "Description":i["snippet"].get("description"),
                "PublishedDate":i["snippet"]["publishedAt"],
                "Duration":i["contentDetails"]["duration"],
                "Views":i["statistics"].get("viewCount"),
                "Likes":i["statistics"].get("likeCount"),
                "Comments":i["statistics"].get("commentCount"),
                "Favouritecomment":i["statistics"]["favoriteCount"],
                "Definition":i["contentDetails"]["definition"],
                "captionstatus":i["contentDetails"]["caption"]
            }
        video_data.append(data)
    return video_data

In [63]:
videodetails=get_video_info(video_IDS)

In [111]:
len(videodetails)

598

In [7]:

def get_playlist_info(channel_id):
    next_page_token=None
    playlist_data=[]
    while True:
        request=youtube.playlists().list(
                        part='snippet,contentDetails',
                        channelId=channel_id,
                        maxResults=50,
                        pageToken=None
                        
                        
        )
        response=request.execute()
        for i in response["items"]:
            data={
                "playlist_id":i["id"],
                "Title":i["snippet"]["title"],
                "channel_id":i["snippet"]["channelId"],
                "channelName":i["snippet"]["channelTitle"],
                "publishDate":i["snippet"]["publishedAt"],
                "videocount":i["contentDetails"]["itemCount"]
            }
            playlist_data.append(data)
        next_page_token=response.get("nextPageToken")

        if next_page_token is None:
            break
    return playlist_data

In [8]:
playlistdetails=get_playlist_info("UC5cY198GU1MQMIPJgMkCJ_Q")

In [42]:
len(playlistdetails)

44

In [9]:
def get_comment_info(video_ids):
    next_page_token=None
    comment_data=[]
    while True:
        for video_id in video_ids:
            request=youtube.commentThreads().list(
                            part='snippet',
                            videoId=video_id,
                            maxResults=50,
                            pageToken=None
                        
            )

        response=request.execute()
        for i in  response["items"]:
            data={
                "comment_id":i["snippet"]["topLevelComment"]["id"],
                "video_id":i["snippet"]["topLevelComment"]["snippet"]["videoId"],
                "comment_Text":i["snippet"]["topLevelComment"]["snippet"]["textDisplay"],
                "comment_Author":i["snippet"]["topLevelComment"]["snippet"]["authorDisplayName"],
                "comment_Published":i["snippet"]["topLevelComment"]["snippet"]["publishedAt"]
            }
            comment_data.append(data)

        next_page_token=response.get("nextPageToken")

        if next_page_token is None:
            break 
        
        return comment_data

In [10]:
def channel_details(channel_id):
    ch_details = get_channel_info(channel_id)
    pl_details = get_playlist_info(channel_id)
    vi_ids = get_video_Ids(channel_id)
    com_details = get_comment_info(vi_ids)
    vi_details = get_video_info(vi_ids)
    
    # Return all details in a dictionary
    return {
        'channel': ch_details,
        'playlist': pl_details,
        'video_ids': vi_ids,
        'comments': com_details,
        'video_details': vi_details
    }

In [ ]:
{'Channel_Name': 'Mr. GK',
 'Channel_Id': 'UC5cY198GU1MQMIPJgMkCJ_Q',
 'Channel_subscriber': '1500000',
 'Total_views': '235657501',
 'Total_videos': '597',
 'Channel_description': 'Please contact me at mrgktamil@gmail.com\n\nFollow us on my social media:\nWhatsApp: https://whatsapp.com/channel/0029VaA23u5IHphLuhO3LM01\nYoutube: https://www.youtube.com/MrGKTamil\nFacebook: https://www.facebook.com/MrGKTamil\nTwitter: https://twitter.com/Mr_GK_Tamil\nInstagram: http://instagram.com/Mr_Gk_Tamil\nTelegram: https://t.me/MrGkGroup\n',
 'playlist_id': 'UU5cY198GU1MQMIPJgMkCJ_Q'}

In [11]:
#Create Tables in the sqlite3
def create_table():
      mydb= psycopg2.connect(host="localhost",
                              user="postgres",
                              password="yoga0129",
                              dbname="youtube_data",
                              port="5432")
      cursor=mydb.cursor()
      

      try:
            create_query='''create table if not exists channels(Channel_Name varchar(100),
                                                                Channel_Id varchar(80) primary key,
                                                                Channel_subscriber bigint,
                                                                Total_views bigint,
                                                                Total_videos int,
                                                                Channel_description text,
                                                                playlist_id varchar(80))'''
            cursor.execute(create_query)
            mydb.commit()
      except:
            print("channels table already created")

      

      try:
            create_query2='''create table if not exists playlists(playlist_ID varchar(100) primary key,
                                                            Title varchar(100),
                                                            Channel_ID varchar(100),
                                                            Channel_Name varchar(100),
                                                            PublishedAt timestamp,
                                                            video_count int )'''
            cursor.execute(create_query2)
            mydb.commit()
      except:
            print("playlist table already created")

      

      try:
            create_query3='''create table if not exists videos(channelname varchar(100),
                                                            channelID varchar(100) primary key,
                                                            videoID varchar(30),
                                                            Title varchar(150),
                                                            Tags text,
                                                            Thumbnail varchar(200),
                                                            Description text,
                                                            Published_Date timestamp,
                                                            Duration interval,
                                                            Views bigint,
                                                            Likes bigint,
                                                            Comments int,
                                                            Favourite_Count int,
                                                            Definition varchar(10),
                                                            Caption_Status varchar(50)
                                                            )'''
            cursor.execute(create_query3)
            mydb.commit()
      except:
            print("video tables are alredy created")

     
      try:
            create_query4='''create table if not exists comments(comment_id varchar(100) primary key,
                                                            video_id varchar(50),
                                                            comment_Text text,
                                                            comment_Author varchar(150),
                                                            comment_Published timestamp)'''
            cursor.execute(create_query4)
            mydb.commit()
      except:
            print("comment table are already excited")
      return None

In [13]:
def insert_channel_details(channel_id):
    mydb = psycopg2.connect(
        host="localhost",
        user="postgres",
        password="yoga0129",
        dbname="youtube_data",
        port="5432"
    )
    cursor = mydb.cursor()
    details = channel_details(channel_id)
    df = details['channel']

    for index,row in df.iterrows():
        insert_query = '''
        INSERT INTO channels (
            Channel_Name,
            Channel_Id,
            Channel_subscriber,                
            Total_views,
            Total_videos,
            Channel_description,
            playlist_id
        ) VALUES (%s, %s, %s, %s, %s, %s, %s)
        ON CONFLICT (Channel_Id)
        DO NOTHING;
        '''
        values = (
            row["Channel_Name"],
            row["Channel_Id"],
            row["Channel_subscriber"],
            row["Total_views"],
            row["Total_videos"],
            row["Channel_description"],
            row["playlist_id"]
        )
        try:
            cursor.execute(insert_query, values)
            mydb.commit()
        except Exception as e:
            print(f"Error: {e}")

In [20]:
def insert_playlist_details(channel_id):
    mydb = psycopg2.connect(
            host="localhost",
            user="postgres",
            password="yoga0129",
            dbname="youtube_data",
            port="5432"
        )
    cursor = mydb.cursor()
        
    pl_details=get_playlist_info(channel_id)
    df = pd.DataFrame(pl_details)

        
    data_to_insert = [
            (
                row["playlist_id"],
                row["Title"],
                row["channel_id"],
                row["channelName"],
                row["publishDate"],
                row["videocount"]
            )
            for _, row in df.iterrows()
        ]

        
    insert_query = '''
            INSERT INTO playlists (
                playlist_ID,
                Title,
                Channel_ID,
                Channel_Name,
                PublishedAt,
                video_count
            ) VALUES (%s, %s, %s, %s, %s, %s)
            ON CONFLICT (playlist_ID)
            DO NOTHING;
        '''
    try:
            cursor.executemany(insert_query, data_to_insert)
            mydb.commit() 
            
    except Exception as e:
            print(f"Error inserting rows: {e}")

In [15]:
def insert_comment_details(channel_id):
    mydb = psycopg2.connect(
                host="localhost",
                user="postgres",
                password="yoga0129",
                dbname="youtube_data",
                port="5432"
            )
    cursor = mydb.cursor()
            
    vi_ids=get_video_Ids(channel_id)
    com_details=get_comment_info(vi_ids)
    df=pd.DataFrame(com_details)


            
    data_to_insert = [
                (
                    row["comment_id"],
                    row["video_id"],
                    row["comment_Text"],
                    row["comment_Author"],
                    row["comment_Published"]
                    
                )
                for _, row in df.iterrows()
            ]

            
    insert_query = '''
                INSERT INTO comments (
                    comment_id,
                    video_id,
                    comment_Text,
                    comment_Author,
                    comment_Published) VALUES (%s, %s, %s, %s, %s)
                ON CONFLICT (comment_id)
                DO NOTHING;
            '''
    try:
        cursor.executemany(insert_query, data_to_insert)
        mydb.commit() 
                
    except Exception as e:
        print(f"Error inserting rows: {e}")

In [16]:
             
def insert_video_details(channel_id):
    mydb = psycopg2.connect(
                    host="localhost",
                    user="postgres",
                    password="yoga0129",
                    dbname="youtube_data",
                    port="5432"
                )
    cursor = mydb.cursor()
                
    vi_ids=get_video_Ids(channel_id)
    vi_details=get_video_info(vi_ids)
    df=pd.DataFrame(vi_details)


                
    data_to_insert = [
                    (
                        row["channelname"],
                        row["channelID"],
                        row["videoID"],
                        row["Title"],
                        row["Thumbnails"],
                        row["Tags"],
                        row["Description"],
                        row["PublishedDate"],
                        row["Duration"],
                        row["Views"],
                        row["Likes"],
                        row["Comments"],
                        row["Favouritecomment"],
                        row["Definition"],
                        row["captionstatus"]
                        
                    )
                    for _, row in df.iterrows()
                ]

            
    insert_query='''INSERT INTO videos (
                        channelname,
                        channelID,
                        videoID,
                        Title,
                        Tags,
                        Thumbnail,
                        Description,
                        Published_Date,
                        Duration,
                        Views,
                        Likes,
                        Comments,
                        Favourite_Count,
                        Definition,
                        Caption_Status
                        ) VALUES (%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s, %s, %s, %s, %s)
                    ON CONFLICT (videoID)
                    DO NOTHING;
                '''
    try:
            cursor.executemany(insert_query, data_to_insert)
            mydb.commit() 
                    
    except Exception as e:
            print(f"Error inserting rows: {e}")

In [17]:
def tables():
    create_table()

    return "Tables created successfully"

In [18]:
def show_channels_table(conn):
    try:                
        cursor=conn.cursor()
        cursor.execute("SELECT*FROM channels")
        ch_list=cursor.fetchall()
        if ch_list:
             df1=st.dataframe(ch_list)
        else:
            st.write("No data found in channels table")
        return df1
    except Exception as e:
        st.write(f'Error fetching data from channels table: {e}')
        return None



def show_playlists_table(conn):
    try:                
        cursor=conn.cursor()
        cursor.execute("SELECT*FROM playlists")
        pl_list=cursor.fetchall()
        if pl_list:
             df2=st.dataframe(pl_list)
        else:
            st.write("No data found in playlist table")
        return df2
    except Exception as e:
        st.write(f'Error fetching data from playlist table: {e}')
        return None
def show_videos_table(conn):
    try:                
        cursor=conn.cursor()
        cursor.execute("SELECT*FROM videos")
        vi_list=cursor.fetchall()
        if vi_list:
             df3=st.dataframe(vi_list)
        else:
            st.write("No data found in video table")
        return df3
    except Exception as e:
        st.write(f'Error fetching data from video table: {e}')
        return None

def show_comments_table(conn):
    try:                
        cursor=conn.cursor()
        cursor.execute("SELECT*FROM comments")
        com_list=cursor.fetchall()
        if com_list:
             df4=st.dataframe(com_list)
        else:
            st.write("No data found in comments table")
        return df4
    except Exception as e:
        st.write(f'Error fetching data from comments table: {e}')
        return None

In [ ]:
with st.sidebar:
    st.title(":red[YOUTUBE DATA HARVESTING AND WAREHOUSING]")
    st.header("Skill Take Away")
    st.caption("Python Developer")
    st.caption("Data Collection")
    st.caption("API Integration")
    st.caption("Data Management using SQL")

channel_id=st.text_input("Enter the Channel ID")
if st.button("Migrate to Sql"):
    Table=tables()
    st.success(Table)

    
def insert_values(channel_id):
    insert_channel_details(channel_id)
    insert_playlist_details(channel_id)
    insert_comment_details(channel_id)
    insert_video_details(channel_id)

    return "the values are successfully inserted"

conn = psycopg2.connect(
                    host="localhost",
                    user="postgres",
                    password="yoga0129",
                    dbname="youtube_data",
                    port="5432"
                )    

show_table=st.radio("SELECT THE TABLE FOR VIEW",("CHANNELS","PLAYLISTS","VIDEOS","COMMENTS"))

if show_table=="CHANNELS":
    show_channels_table(conn)

if show_table=="PLAYLISTS":
    show_playlists_table(conn)

if show_table=="VIDEOS":
    show_videos_table(conn)

if show_table=="COMMENTS":
    show_comments_table(conn)

In [21]:
ch_ids=[]
ch_details = get_channel_info("UC5cY198GU1MQMIPJgMkCJ_Q")
value=ch_details["Channel_Id"]
ch_ids.append(value)

In [22]:
ch_ids

['UC5cY198GU1MQMIPJgMkCJ_Q']

In [26]:
ch_details

{'Channel_Name': 'Mr. GK',
 'Channel_Id': 'UC5cY198GU1MQMIPJgMkCJ_Q',
 'Channel_subscriber': '1500000',
 'Total_views': '236386458',
 'Total_videos': '599',
 'Channel_description': 'Please contact me at mrgktamil@gmail.com\n\nFollow us on my social media:\nWhatsApp: https://whatsapp.com/channel/0029VaA23u5IHphLuhO3LM01\nYoutube: https://www.youtube.com/MrGKTamil\nFacebook: https://www.facebook.com/MrGKTamil\nTwitter: https://twitter.com/Mr_GK_Tamil\nInstagram: http://instagram.com/Mr_Gk_Tamil\nTelegram: https://t.me/MrGkGroup\n',
 'playlist_id': 'UU5cY198GU1MQMIPJgMkCJ_Q'}

In [ ]:
'''What are the names of all the videos and their corresponding channels?
Which channels have the most number of videos, and how many videos do
 they have?
What are the top 10 most viewed videos and their respective channels?
How many comments were made on each video, and what are their
 corresponding video names?
Which videos have the highest number of likes, and what are their 
corresponding channel names?
What is the total number of likes and dislikes for each video, and what are 
their corresponding video names?
What is the total number of views for each channel, and what are their 
corresponding channel names?
What are the names of all the channels that have published videos in the year
 2022?
What is the average duration of all videos in each channel, and what are their 
corresponding channel names?
Which videos have the highest number of comments, and what are their 
corresponding channel names?
'''

In [ ]:
mydb = psycopg2.connect(
                    host="localhost",
                    user="postgres",
                    password="yoga0129",
                    dbname="youtube_data",
                    port="5432"
                )
cursor=mydb.cursor()
question=st.selectbox("select your question,"("1. All the videos and the channel name",
                      "2. channels with most numberof videos",
                      "3. 10 most viewed videos",
                      "4. comments in each videos",
                      "5. videos with highest likes",
                      "6. likes of all videos",
                      "7. views of each channel",
                      "8. videos published in the year 2022",
                      "9. Average duration of all videos in each channels",
                      "10. videos with highest number of comments"))

if question=="1. All the videos and the channel name":
    query1='''select title as videos,channelname as channelname from videos'''
    cursor.execute(query1)
    mydb.commit()
    t1=cursor.fetchall()
    df=pd.DataFrame(t1,columns=["video title","channel name"])
    st.write(df)

elif question=="2. channels with most numberof videos":
    query2='''select channel_name as channelname,total_videos as no_videos from channels
                order by total_videos desc'''
    cursor.execute(query2)
    mydb.commit()
    t2=cursor.fetchall()
    df2=pd.DataFrame(t2,columns=["channel name","no of videos"])
    st.write(df2)

elif question=="3. 10 most viewed videos":
    query3='''select views as views,channelname as channelname,title as video_title from videos
            where views is not null order by views desc limit 10'''
    cursor.execute(query3)
    mydb.commit()
    t3=cursor.fetchall()
    df3=pd.DataFrame(t3,columns=["views","channel name","videotitle"])
    st.write(df3)

elif question=="4.comments in each videos":
    query4='''select comments as no_comments,title as videotitle from videos where comments is not null'''
    cursor.execute(query4)
    mydb.commit()
    t4=cursor.fetchall()
    df4=pd.DataFrame(t4,columns=["no of comments","video title",])
    st.write(df4)

if question=="5. videos with highest likes":
    query5='''select title as videotitle,channelname as channelname,likes as likecount from videos where likes is not null 
            order by likes desc'''
    cursor.execute(query5)
    mydb.commit()
    t5=cursor.fetchall()
    df5=pd.DataFrame(t5,columns=["video title","channel name","likecount"])
    st.write(df5)

elif question=="6. likes of all videos":
    query6='''select likes as likecount,title as video title from videos'''
    cursor.execute(query6)
    mydb.commit()
    t6=cursor.fetchall()
    df6=pd.DataFrame(t6,columns=["likecount","video title"])
    st.write(df6)

elif question=="7. views of each channel":
    query7='''select channel_name as channelname,Total_views as totalviews from channels'''
    cursor.execute(query7)
    mydb.commit()
    t7=cursor.fetchall()
    df7=pd.DataFrame(t7,columns=["channel name","totla views"])
    st.write(df7)

elif question=="8. videos published in the year 2022":
    query8='''select title as videotitle,Published_Date as videorelease,channelname as channelname from videos
                where extract(year from Published_Date)=2022'''
    cursor.execute(query8)
    mydb.commit()
    t8=cursor.fetchall()
    df8=pd.DataFrame(t8,columns=["video title","video reease date","channel name"])
    st.write(df8)

elif question=="9. Average duration of all videos in each channels":
    query9='''select channelname as channelname,AVG(Duration) as averageduration from videos group by channelname'''
    cursor.execute(query9)
    mydb.commit()
    t9=cursor.fetchall()
    df9=pd.DataFrame(t9,columns=["channel name","Averageduration"])
    T9=[]
    for index,row in df9.iterrows():
        channel_title=row["channelname"]
        average_duration=row["Averageduration"]
        average_duration_str=str("average_duration")
        T9.append(dict(channeltitle=channel_title,avgduration=average_duration_str))
    df1=pd.DataFrame(T9)
    st.write(df1)


if question=="10. videos with highest number of comments":
    query10='''select title as videotitle,channelname as channelname,Comments as comments from videos where Comments
                is not null order by comments desc'''
    cursor.execute(query10)
    mydb.commit()
    t10=cursor.fetchall()
    df10=pd.DataFrame(t10,columns=["video title","channelname","comments"])
    st.write(df10)

NameError: name 'channel_id' is not defined

In [22]:
mydb = psycopg2.connect(
                    host="localhost",
                    user="postgres",
                    password="yoga0129",
                    dbname="youtube_data",
                    port="5432"
                )
cursor=mydb.cursor()

query9='''select channelname as channelname,AVG(Duration) as averageduration from videos group by channelname'''
cursor.execute(query9)
mydb.commit()
t9=cursor.fetchall()
df9=pd.DataFrame(t9,columns=["channel name","Averageduration"])
df9

T9=[]
for index,row in df9.iterrows():
    channel_title=row["channel name"]
    average_duration=row["Averageduration"]
    average_duration_str=str(average_duration)
    T9.append(dict(channeltitle=channel_title,avgduration=average_duration_str))
df1=pd.DataFrame(T9)
df1

  channeltitle             avgduration
0       Mr. GK  0 days 00:10:20.514190

In [34]:
mydb = psycopg2.connect(
                    host="localhost",
                    user="postgres",
                    password="yoga0129",
                    dbname="youtube_data",
                    port="5432"
                )
cursor=mydb.cursor()
   



query9='''select channelname as channelname,AVG(Duration) as averageduration from videos group by channelname'''
cursor.execute(query9)
mydb.commit()
t9=cursor.fetchall()
if t9:
   df9=pd.DataFrame(t9,columns=["channel name","Averageduration"])
   T9=[]
   for index,row in df9.iterrows():
         channel_title=row["channel name"]
         average_duration=row["Averageduration"]
         average_duration_str=str(average_duration)
         T9.append(dict(channeltitle=channel_title,avgduration=average_duration_str))
   df1=pd.DataFrame(T9)

else:
   print("Items are not loaded in tables")

Items are not loaded in tables

In [31]:
rows

[]

In [ ]:

mydb = psycopg2.connect(
    host="localhost",
    user="postgres",
    password="yoga0129",
    dbname="youtube_data",
    port="5432"
)
cursor = mydb.cursor()
details = channel_details(channel_id)
db = details['channel']
df=pd.DataFrame(db)


for index,row in df.iterrows():
    insert_query = '''
    INSERT INTO channels (
        Channel_Name,
        Channel_Id,
        Channel_subscriber,                
        Total_views,
        Total_videos,
        Channel_description,
        playlist_id
    ) VALUES (%s, %s, %s, %s, %s, %s, %s)
    ON CONFLICT (Channel_Id)
    DO NOTHING;
    '''
    values = (
        row["Channel_Name"],
        row["Channel_Id"],
        row["Channel_subscriber"],
        row["Total_views"],
        row["Total_videos"],
        row["Channel_description"],
        row["playlist_id"]
    )
    try:
        cursor.execute(insert_query, values)
        mydb.commit()
    except Exception as e:
        print(f"Error: {e}")

  channeltitle       avgduration
0       Mr. GK  average_duration

In [32]:
insert=channel_details("UC5cY198GU1MQMIPJgMkCJ_Q")

In [33]:
details = channel_details(channel_id)
db = details['channel']
df=pd.DataFrame(db)

NameError: name 'channel_id' is not defined

In [ ]:
UC5cY198GU1MQMIPJgMkCJ_Q
UCuI5XcJYynHa5k_lqDzAgwQ

In [ ]:

def show_channels_table(conn):
    try:                
        cursor=conn.cursor()
        cursor.execute("SELECT*FROM channels")
        ch_list=cursor.fetchall()
        if ch_list:
             df1=st.dataframe(ch_list)
        else:
            st.write("No data found in channels table")
        return df1
    except Exception as e:
        st.write(f'Error fetching data from channels table: {e}')
        return None

In [ ]:

def show_playlists_table(conn):
    try:                
        cursor=conn.cursor()
        cursor.execute("SELECT*FROM playlists")
        pl_list=cursor.fetchall()
        if pl_list:
             df2=st.dataframe(pl_list)
        else:
            st.write("No data found in playlist table")
        return df2
    except Exception as e:
        st.write(f'Error fetching data from playlist table: {e}')
        return None

In [ ]:
                                                           
def show_videos_table(conn):
    try:                
        cursor=conn.cursor()
        cursor.execute("SELECT*FROM videos")
        vi_list=cursor.fetchall()
        if vi_list:
             df3=st.dataframe(vi_list)
        else:
            st.write("No data found in video table")
        return df3
    except Exception as e:
        st.write(f'Error fetching data from video table: {e}')
        return None

In [ ]:

def show_comments_table(conn):
    try:                
        cursor=conn.cursor()
        cursor.execute("SELECT*FROM comments")
        com_list=cursor.fetchall()
        if com_list:
             df4=st.dataframe(com_list)
        else:
            st.write("No data found in comments table")
        return df4
    except Exception as e:
        st.write(f'Error fetching data from comments table: {e}')
        return None

In [17]:
details = channel_details("UC5cY198GU1MQMIPJgMkCJ_Q")
df = details['channel']

In [28]:
conn = psycopg2.connect(
                    host="localhost",
                    user="postgres",
                    password="yoga0129",
                    dbname="youtube_data",
                    port="5432")
cursor=conn.cursor()
cursor=conn.cursor()
cursor.execute("SELECT*FROM videos")
com_list=cursor.fetchall()
df3=pd.DataFrame(com_list)

In [29]:
df3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Data Science Tamil,UCuI5XcJYynHa5k_lqDzAgwQ,0ZTlLhAw0ns,Data Science Tamil is live - 3,https://i.ytimg.com/vi/0ZTlLhAw0ns/default.jpg,None,,2024-11-25 01:28:35,0 days 00:43:50,87,8.0,0,0,hd,false
1,Data Science Tamil,UCuI5XcJYynHa5k_lqDzAgwQ,GBBs_nQHsUg,Streamlit Web App | Airbnb Analysis | Part - 11,https://i.ytimg.com/vi/GBBs_nQHsUg/default.jpg,None,Welcome to our Airbnb Data Analysis Project! ...,2024-11-24 15:52:21,0 days 00:26:38,86,4.0,2,0,hd,false
2,Data Science Tamil,UCuI5XcJYynHa5k_lqDzAgwQ,d545CLo_6kE,Data Science Tamil is live - 2,https://i.ytimg.com/vi/d545CLo_6kE/default.jpg,None,,2024-11-18 01:43:58,0 days 00:44:25,108,6.0,0,0,hd,false
3,Data Science Tamil,UCuI5XcJYynHa5k_lqDzAgwQ,_0SQt5HhoTU,Data Science Tamil Live Stream - 2,https://i.ytimg.com/vi/_0SQt5HhoTU/default_liv...,None,,2024-11-17 12:54:20,0 days 00:00:00,0,0.0,0,0,sd,false
4,Data Science Tamil,UCuI5XcJYynHa5k_lqDzAgwQ,0gCffcaNcxs,Merging the Data frames | Airbnb Analysis | Pa...,https://i.ytimg.com/vi/0gCffcaNcxs/default.jpg,None,Welcome to our Airbnb Data Analysis Project! ...,2024-11-13 20:20:18,0 days 00:15:19,82,2.0,2,0,hd,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,Mr. GK,UC5cY198GU1MQMIPJgMkCJ_Q,Ap_HTQ4h7GU,Kumari kandam controversy | ...,https://i.ytimg.com/vi/Ap_HTQ4h7GU/default.jpg,None,...,2017-09-29 22:09:31,0 days 00:07:43,519355,7543.0,597,0,hd,false
682,Mr. GK,UC5cY198GU1MQMIPJgMkCJ_Q,Wmi9XJD59Us,Facts about Death | | Mr.GK,https://i.ytimg.com/vi/Wmi9XJD59Us/default.jpg,None,...,2017-09-11 11:16:44,0 days 00:02:51,47466,1468.0,41,0,hd,false
683,Mr. GK,UC5cY198GU1MQMIPJgMkCJ_Q,EbfW4V6fUh0,Why history forgot King Sher Shah? ...,https://i.ytimg.com/vi/EbfW4V6fUh0/default.jpg,None,", ...",2017-08-17 02:19:10,0 days 00:04:11,51031,1440.0,74,0,hd,false
684,Mr. GK,UC5cY198GU1MQMIPJgMkCJ_Q,DcRCQ0Z90lA,Do you know the worlds first meme? ...,https://i.ytimg.com/vi/DcRCQ0Z90lA/default.jpg,None,"meme is an idea, behavior, or style that sprea...",2017-06-26 20:46:39,0 days 00:03:16,24522,955.0,27,0,hd,false
685,Mr. GK,UC5cY198GU1MQMIPJgMkCJ_Q,iid_tOLz3vA,Real meaning of Mersal - - V...,https://i.ytimg.com/vi/iid_tOLz3vA/default.jpg,None,. ...,2017-06-22 10:47:48,0 days 00:03:08,74136,2504.0,101,0,hd,false